html{
    min-height: 100%
}

body{
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(50,49,49,1) 50%, rgba(43,43,43,1) 100%); 
    background-repeat: no-repeat;
    background-position: fixed;
    margin-top: 70px;
}

#codeTitle{
    display: flex;
    justify-content: center;
}

#codeTitle h1{
    color: whitesmoke;
}

label{
    color: whitesmoke;
}

#loginForm{
    display: flex;
    justify-content: center;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    filter: drop-shadow(2px 10px 6px rgb(19, 19, 19));
}

input[type=password], select{
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    filter: drop-shadow(2px 10px 6px rgb(19, 19, 19));
}

#loginForm button {
    width: 100%;
    background-color: navy;
    filter: drop-shadow(2px 10px 6px rgba(5, 5, 49, 0.637));
    color: whitesmoke;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#loginForm button{
    width: 100%;
    margin-top: 10px;
}