:root{
    font-size: 16px;
    font-family: 'Open Sans';
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --settings-defaultColor: white;
    --settings-highlightColor: #1af71a;
    --border-size: 4px;
}

main{
    display: flex;
    margin-left: 2rem;
    padding: 0.5rem;
}

.menuBar{
    width: 3.5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    z-index: 3;
    border-right : solid var(--settings-highlightColor) var(--border-size);
}

.menuBar svg{
    height: 1.5em;
    margin: auto;
    fill: var(--settings-defaultColor);
    pointer-events: none;
}

/* .menuBar:focus-within{
    width: 10rem;
} */

/* .menuBar:focus-within ~ main{
    opacity: 0.05;
    transition: opacity 200ms ease-in;
} */

/* .menuBar:focus-within svg{
    margin: 0 1rem;
} */

.menuBar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    z-index: inherit;
}

.nav-item{
    width: 100%;
    z-index: inherit;
}

.btn{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    z-index: inherit;
}

.btn:hover{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

/* a color indication while navigating the menu */
.btn:hover svg{
    fill: var(--settings-highlightColor);
}

.btn.chosen{
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
}

.btn.chosen svg{
    fill: var(--settings-highlightColor);
}

/* .btn-text{
    display: none;
    white-space: nowrap;
} */

.submenu-nav{
    display: none;
    list-style: none;
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    gap: 12px;
    background-color: var(--bg-secondary);
}

.submenu-nav a{
    padding: 5px 0;
    text-decoration: none;
}

/* .submenu-nav a:hover{
    filter: grayscale(0%) opacity(1);
} */

.submenu-nav a span{
    font-size: 20px;
    color: var(--settings-defaultColor);
    white-space: nowrap;
}

.submenu-nav a:hover span{
    padding-left: 18px;
    color: var(--settings-highlightColor);
}

.btn.chosen ~ .submenu-nav{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 0;
    padding: 10px 20px;
    border-bottom-right-radius: 6px;
    border-right : solid var(--settings-highlightColor) var(--border-size);
    border-bottom: solid var(--settings-highlightColor) var(--border-size);
}

/* .menuBar:focus-within .btn-text{
    color: gold;
    font-size: large;
    display: block;
    animation: fadeInLeft 200ms ease-in;
}

@keyframes fadeInLeft{
    from{
        opacity: 0;
        transform: translateX(-100px);
    }
    to{
        opacity: 1;
    }
} */

.tooltip{
    position: relative;
}

.tooltiptext{
    display: none;
}
  
.tooltip .tooltiptext{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 110%;
}
  
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    display: inline-block;
}