.editorFrame{
    width: 49.95%;
    height: calc(100vh - 20px);
    border-top: 3px;
    border-bottom: 3px;
    box-sizing: border-box;
}

.separator{
    cursor: col-resize;
    width: 0.1%;
    height: 100vh;
    border-left: solid gray 0.3px;
    border-right: solid gray 0.3px;
}

.separator:hover{
    background-color: var(--settings-highlightColor);
    border-left-color: var(--settings-highlightColor);
    border-right-color: var(--settings-highlightColor);
    background-repeat: no-repeat;
}


