body{
    background-color: black;
}

.terminal{
    width: 96vw;
    height: 90vh;
    margin-left: 10px;
    font-size: 14px;
}

#output samp{
    color: white;
    font-size: inherit;
}

#error{
    color: crimson;
    font-size: inherit;
}

#exitStatus1 samp{
    color: crimson;
    font-size: inherit;
}

#exitStatus0 samp{
    color: lime;
    font-size: inherit;
}