body{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terminal{
    background-color: black;
    width: 98vw;
    margin: 5px;
    height: 92vh;
    border-radius: 8px;
}

#output samp{
    margin-left: 8px;
    color: white;
    /* padding-top: 12px; */
}

#error{
    color: crimson;
}

samp{
    color: lime;
    font-size: 14px;
}